body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff4e2;
    color: #333;
    text-align: center;
}
header {
    background-color: #d84315;
    color: #fff4e2;
    padding: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
}
.soup-gallery {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 2em 0;
}
.soup-gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}
.custom-button {
    background-color: #ff7043;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 1em;
}
.custom-button:hover {
    background-color: #e64a19;
    color: #f5e0b3;
    transform: scale(1.05);
}
.custom-button:active {
    background-color: #d84315;
    color: #f5e0b3;
    transform: scale(0.95);
}

#sidebar{
    background-color: #ff5959;
    color: #fff4e2;
    width: 50%;
    text-align: center;
}
#main{
    background-color: #d84315;
    color:#fff4e2;
    width: 50%;
    text-align: center;
}
#box{
    background-color: #ff5959;
    color:#fff4e2;
    width: 50%;
    text-align: center;
}
#box_2{
    background-color: #d84315;
    color:#fff4e2;
    width: 50%;
    text-align: center;
}
#container{
    display: flex;
    gap: 10px;
    margin: 10px;
    border-radius: 50px;
}
#container_2{
    display: flex;
    gap: 10px;
    margin: 10px;
    border-radius: 50px;
}